@model TtrxToHtml.Console.Models.JsonData;

@using System.Globalization
@using TtrxToHtml.Console.Models;

@{
    string badgeColor = string.Empty, badgeDot = string.Empty;

    DateTime GetShortDateTime(string time)
    {
        if (string.IsNullOrEmpty(time))
        {
            return default(DateTime);
        }

        return DateTime.Parse(time).ToUniversalTime();
    }

    string ToExactTimeDefinition(string start, string finish)
    {
        TimeSpan datetime = GetShortDateTime(finish) - GetShortDateTime(start);
        return ToExtactTime(datetime.TotalMilliseconds);
    }

    TimeDuration ToExactTimeDuration(string duration)
    {
        var inSeconds = TimeSpan.FromMilliseconds(TimeSpan.Parse(duration).TotalMilliseconds).TotalSeconds.ToString();
        var inMilliSeconds = ToExtactTime(TimeSpan.Parse(duration).TotalMilliseconds);

        return new TimeDuration(inSeconds, inMilliSeconds);
    }

    string ToExtactTime(double ms)
    {
        if (ms < 1000)
            return ms + " ms";

        if (ms >= 1000 && ms < 60000)
            return string.Format("{0:0.00} seconds", TimeSpan.FromMilliseconds(ms).TotalSeconds);

        if (ms >= 60000 && ms < 3600000)
            return string.Format("{0:0.00} minutes", TimeSpan.FromMilliseconds(ms).TotalMinutes);

        return string.Format("{0:0.00} hours", TimeSpan.FromMilliseconds(ms).TotalHours);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Test Report</title>
    <link rel="stylesheet" href="./../Contents/style.css">
    <script defer src="./../Contents/alpinejs/alpinejs.cdn.min.js"></script>
    <script src="./../Contents/tailwind/tailwindcss-3.4.5.js"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        roboto: ['Roboto', 'sans-serif'],
                        inter: ['Inter', 'sans-serif'],
                    }
                }
            }
        }
    </script>
    <style type="text/tailwindcss">
        @@layer utilities {
            .content-auto {
                content-visibility: auto;
            }
        }

        .test-results-table-th {
            @@apply px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider;
        }

        .stacktrace-detail-content {
            @@apply list-none m-0 p-0 [&>li]:flex [&>li]:flex-row [&>li]:border-dashed [&>li]:border-2 [&>li]:border-[#337ab7] [&>li]:border-y-0 [&>li]:border-r-0 [&>li]:border-l-2 first:[&>li]:pt-1.5 last:[&>li]:ml-2.5 first:[&>li>div]:-ml-0.5 first:[&>li>div]:bg-white;
        }

        .stacktrace-detail {
            @@apply m-0 pt-0 pr-4 pb-1.5 pl-0 grow basis-full first:border-t-2 first:border-dashed first:border-[#337ab7] first:basis-8 first:mt-9;
        }

        .stacktrace-detail-main {
            @@apply m-0 pt-0 pr-4 pb-1.5 pl-0 grow basis-full;
        }

        .stacktrace-detail-main-fieldset {
            @@apply border-solid border-2 border-[#007BFF] rounded-md mb-2.5 py-2.5 px-5;
        }

        .stacktrace-detail-main-legend {
            @@apply ml-1.5 bg-[#007BFF] text-white py-1.5 px-2.5 rounded-md font-bold;
        }

        [x-cloak] {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
        document.addEventListener("alpine:init", () => {
            Alpine.data("btnClick", () => ({
                triggerBtn: {
                    ["@@click"](el) {
                        let svgEle = el.target;

                        let clickedTrNextEle =
                            this.$el.parentNode.parentElement.nextElementSibling;

                        if (clickedTrNextEle.className === "hidden") {
                            clickedTrNextEle.classList.add("table-row", "transition-all", "duration-300", "ease-in-out");
                            clickedTrNextEle.classList.remove("hidden");
                            svgEle.classList.add("rotate-90", "duration-300");
                        } else {
                            clickedTrNextEle.classList.add("hidden");
                            clickedTrNextEle.classList.remove("table-row", "transition-all", "duration-300", "ease-in-out");
                            svgEle.classList.remove("rotate-90");
                        }
                    }
                }
            }));
        });

        const setup = () => {
            function getSidebarStateFromLocalStorage() {
                // if it already there, use it
                if (window.localStorage.getItem('isSidebarOpen')) {
                    return JSON.parse(window.localStorage.getItem('isSidebarOpen'))
                }

                // else return the initial state you want
                return (
                    false
                )
            }

            function setSidebarStateToLocalStorage(value) {
                window.localStorage.setItem('isSidebarOpen', value)
            }

            return {
                loading: true,
                isSidebarOpen: getSidebarStateFromLocalStorage(),
                toggleSidbarMenu() {
                    this.isSidebarOpen = !this.isSidebarOpen
                    setSidebarStateToLocalStorage(this.isSidebarOpen)
                },
                isSettingsPanelOpen: false,
                isSearchBoxOpen: false,
            }
        }
    </script>
</head>
<body class="bg-white font-inter text-base tracking-wide text-[#39464e] antialiased">
    <div>
        <div class="flex bg-white" x-data="setup()" x-init="$refs.loading.classList.add('hidden')"> @* h-screen overflow-y-hidden *@
            <div x-ref="loading"
                 class="fixed inset-0 z-50 flex items-center justify-center text-white bg-black bg-opacity-50"
                 style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)">
                Loading.....
            </div>

            <div x-show.in.out.opacity="isSidebarOpen"
                 class="fixed inset-0 z-10 bg-black bg-opacity-20 lg:hidden"
                 style="backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px)"></div>

            <aside x-cloak
                   x-transition:enter="transition transform duration-300"
                   x-transition:enter-start="-translate-x-full opacity-30 ease-in"
                   x-transition:enter-end="translate-x-0 opacity-100 ease-out"
                   x-transition:leave="transition transform duration-300"
                   x-transition:leave-start="translate-x-0 opacity-100 ease-out"
                   x-transition:leave-end="-translate-x-full opacity-0 ease-in"
                   class="fixed inset-y-0 z-10 flex flex-col flex-shrink-0 w-64 max-h-screen overflow-hidden transition-all transform bg-white border-r shadow-lg lg:z-auto lg:static lg:shadow-none"
                   :class="{'-translate-x-full lg:translate-x-0 lg:w-20': !isSidebarOpen}">
                <div class="flex items-center flex-shrink-0 p-2" :class="{'lg:justify-center': !isSidebarOpen}">
                    <span>
                        <svg class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                        </svg>
                    </span>
                    <span class="pl-3 text-xl  leading-8 tracking-wider uppercase whitespace-nowrap" :class="{ 'lg:hidden': !isSidebarOpen }">Test Reports</span>
                </div>
                <nav class="flex-1 overflow-hidden hover:overflow-y-auto">
                    <ul class="p-2 overflow-hidden">
                        <li>
                            <a href="#"
                               class="flex items-center p-2 space-x-2 rounded-md hover:bg-gray-100"
                               :class="{'justify-center': !isSidebarOpen}">
                                <span>
                                    <svg class="w-6 h-6 text-gray-400"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke="currentColor">
                                        <path stroke-linecap="round"
                                              stroke-linejoin="round"
                                              stroke-width="2"
                                              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                                    </svg>
                                </span>
                                <span :class="{ 'lg:hidden': !isSidebarOpen }">Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>

            <div class="flex flex-col flex-1">
                @* h-full overflow-hidden *@
                <header class="flex-shrink-0 border-b">
                    <div class="flex items-center justify-between p-2">
                        <div class="flex items-center space-x-3">
                            <span class="p-2 text-xl  tracking-wider uppercase lg:hidden">K-WD</span>
                            <button @@click="toggleSidbarMenu()" class="p-2 rounded-md focus:outline-none focus:ring">
                                <svg class="w-4 h-4 text-gray-600"
                                     :class="{'transform transition-transform -rotate-180': isSidebarOpen}"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                                </svg>
                            </button>
                        </div>

                        @* <div class="relative flex items-center space-x-3">
                            <div class="relative" x-data="{ isOpen: false }">
                                <button @@click="isOpen = !isOpen" class="p-1 bg-gray-200 rounded-full focus:outline-none focus:ring">
                                    <svg class="object-cover w-8 h-8 rounded-full" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18 17a7 7 0 1 0-7-7 7 7 0 0 0 7 7m0-12a5 5 0 1 1-5 5 5 5 0 0 1 5-5" class="clr-i-outline clr-i-outline-path-1" />
                                        <path d="M30.47 24.37a17.16 17.16 0 0 0-24.93 0A2 2 0 0 0 5 25.74V31a2 2 0 0 0 2 2h22a2 2 0 0 0 2-2v-5.26a2 2 0 0 0-.53-1.37M29 31H7v-5.27a15.17 15.17 0 0 1 22 0Z" class="clr-i-outline clr-i-outline-path-2" />
                                        <path fill="none" d="M0 0h36v36H0z" />
                                    </svg>
                                </button>
                                <div class="absolute right-0 p-1 bg-green-400 rounded-full bottom-3 animate-ping"></div>
                                <div class="absolute right-0 p-1 bg-green-400 border border-white rounded-full bottom-3"></div>

                                <div @@click.away="isOpen = false"
                                     x-show.transition.opacity="isOpen"
                                     class="absolute mt-3 transform -translate-x-full bg-white rounded-md shadow-lg min-w-max">
                                    <div class="flex flex-col p-4 space-y-1 font-medium border-b">
                                        <span class="text-gray-800">Shailesh M</span>
                                        <span class="text-sm text-gray-400">shailesh.smile@gmail.com</span>
                                    </div>
                                    <ul class="flex flex-col p-2 my-2 space-y-1">
                                        <li>
                                            <a href="#" class="block px-2 py-1 transition rounded-md hover:bg-gray-100">Link</a>
                                        </li>
                                        <li>
                                            <a href="#" class="block px-2 py-1 transition rounded-md hover:bg-gray-100">Another Link</a>
                                        </li>
                                    </ul>
                                    <div class="flex items-center justify-center p-4 text-blue-700 underline border-t">
                                        <a href="#">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div> *@
                    </div>
                </header>
                <main class="flex-1 p-5"> @* max-h-full overflow-hidden overflow-y-scroll *@
                    <div class="flex flex-col items-start justify-between pb-6 space-y-4 border-b lg:items-center lg:space-y-0 lg:flex-row">
                        <h1 class="text-2xl  whitespace-nowrap">Dashboard</h1>
                        @* <div class="space-y-6 md:space-x-2 md:space-y-0">
                            <a href="https://github.com/Kamona-WD/starter-dashboard-layout"
                               target="_blank"
                               class="inline-flex items-center justify-center px-4 py-1 space-x-1 bg-gray-200 rounded-md shadow hover:bg-opacity-20">
                                <span>
                                    <svg class="w-4 h-4 text-gray-500" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                                    </svg>
                                </span>
                                <span>View on Github</span>
                            </a>
                            <a href="https://kamona-wd.github.io/kwd-dashboard/"
                               target="_blank"
                               class="inline-flex items-center justify-center px-4 py-1 space-x-1 bg-red-500 text-white rounded-md shadow animate-bounce hover:bg-red-600">
                                <span>See Dark & Light version</span>
                            </a>
                        </div> *@
                    </div>

                    @* <div class="grid grid-cols-1 gap-5 mt-6 sm:grid-cols-2 lg:grid-cols-4">
                        <template x-for="i in 4" :key="i">
                            <div class="p-4 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
                                <div class="flex items-start justify-between">
                                    <div class="flex flex-col space-y-2">
                                        <span class="text-gray-400">Total Users</span>
                                        <span class="text-lg ">100,221</span>
                                    </div>
                                    <div class="p-10 bg-gray-200 rounded-md"></div>
                                </div>
                                <div>
                                    <span class="inline-block px-2 text-sm text-white bg-green-300 rounded">14%</span>
                                    <span>from 2019</span>
                                </div>
                            </div>
                        </template>
                    </div> *@

                    @foreach (var testRun in Model.TestResults.TestRun)
                    {
                        var unitTestResults = testRun.Results.UnitTestResult;
                        var unitTests = testRun.TestDefinitions.UnitTest;
                        var result = unitTestResults
                            .Join(unitTests, utr => utr.TestId, ut => ut.Id,
                            (utr, ut) => new
                            {
                                ut.Name,
                                ut.Storage,
                                ut.Id,
                                ut.Execution,
                                ut.TestMethod,
                                utr.ExecutionId,
                                utr.TestId,
                                utr.TestName,
                                utr.ComputerName,
                                utr.Duration,
                                utr.StartTime,
                                utr.EndTime,
                                utr.TestType,
                                utr.Outcome,
                                utr.TestListId,
                                utr.RelativeResultsDirectory,
                                utr.Output
                            }
                        );

                        var groupedByClasses = result
                            .GroupBy(u => u.TestMethod.ClassName)
                            .Select(grp => grp.ToList())
                            .AsEnumerable();
                        
                        <section class="text-gray-700 body-font border-t border-gray-200">
                            <div class="container px-5 py-12 mx-auto">
                                <div class="flex flex-wrap -m-4">
                                    <div class="p-4 md:w-1/3">
                                        <div class="flex flex-col border-solid border-2 border-indigo-200 rounded-t-lg">
                                            <div class="flex items-center rounded-t-lg bg-slate-100 p-4 border-b-[3px] border-indigo-200">
                                                <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                                                    <svg class="w-5 h-5 fill-white" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" xml:space="preserve">
                                                        <path style="fill:none" d="M0 .008h48v48H0z" />
                                                        <path d="M39.114 34.332C37.38 31.449 32.326 23.487 31 21.402V10h1a2 2 0 0 0 0-4H16a2 2 0 0 0 0 4h1v11.402c-1.326 2.085-6.38 10.047-8.114 12.93-.512.852-.772 1.749-.772 2.668 0 2.757 2.243 5 4.999 5h21.773c2.757 0 5-2.243 5-5 0-.919-.26-1.816-.772-2.668M20.688 23.059c.204-.322.312-.694.312-1.075V10.003h6v11.981a2 2 0 0 0 .312 1.074c.031.049 1.55 2.435 3.325 5.244l-15.434 3.43c2.495-3.976 5.441-8.605 5.485-8.673" />
                                                    </svg>
                                                </div>
                                                <h2 class="text-gray-900 text-lg title-font font-medium">Test Details</h2>
                                            </div>
                                            <div class="flex-grow">
                                                <div class="container mx-auto flex flex-wrap">
                                                    <div class="flex lg:w-full w-full flex-wrap">
                                                        <div class="lg:w-1/4 w-full mb-10 lg:mb-0">
                                                            <p class="bg-gray-200 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">User</p>
                                                            <p class="bg-slate-100 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">Machine</p>
                                                            <p class="bg-gray-200 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">Description</p>
                                                        </div>
                                                        <div class="lg:w-3/4 w-full mb-10 lg:mb-0">
                                                            <p class="bg-gray-100 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@testRun.RunUser</p>
                                                            <p class="bg-slate-50 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@testRun.Results.UnitTestResult[0].ComputerName</p>
                                                            <p class="bg-gray-100 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@testRun.TestSettings.Description</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-4 md:w-1/3">
                                        <div class="flex flex-col border-solid border-2 border-indigo-200 rounded-t-lg">
                                            <div class="flex items-center rounded-t-lg bg-slate-100 p-4 border-b-[3px] border-indigo-200">
                                                <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                                                    <svg class="w-5 h-5 fill-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd" />
                                                    </svg>
                                                </div>
                                                <h2 class="text-gray-900 text-lg title-font font-medium">Run Time Summary</h2>
                                            </div>
                                            <div class="flex-grow">
                                                <div class="container mx-auto flex flex-wrap">
                                                    <div class="flex lg:w-full w-full flex-wrap">
                                                        <div class="lg:w-1/4 w-full mb-10 lg:mb-0">
                                                            <p class="bg-gray-200 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">Start Time</p>
                                                            <p class="bg-slate-100 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">End Time</p>
                                                            <p class="bg-gray-200 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">Duration</p>
                                                        </div>
                                                        <div class="lg:w-3/4 w-full mb-10 lg:mb-0">
                                                            <p class="bg-gray-100 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@GetShortDateTime(testRun.Times.Start.ToString()).ToString()</p>
                                                            <p class="bg-slate-50 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@GetShortDateTime(testRun.Times.Finish.ToString()).ToString()</p>
                                                            <p class="bg-gray-100 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@ToExactTimeDefinition(testRun.Times.Start.ToString(), testRun.Times.Finish.ToString())</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-4 md:w-1/3">
                                        <div class="flex h-full flex-col border-solid border-2 border-indigo-200 rounded-t-lg">
                                            <div class="flex items-center rounded-t-lg bg-slate-100 p-4 border-b-[3px] border-indigo-200">
                                                <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                                        <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                                                    </svg>
                                                </div>
                                                <h2 class="text-gray-900 text-lg title-font font-medium">Tests Statuses</h2>
                                            </div>
                                            <div class="flex-grow">
                                                <div class="container mx-auto flex flex-wrap">
                                                    <div class="flex lg:w-full w-full flex-wrap">
                                                        <div class="lg:w-1/4 w-full mb-10 lg:mb-0">
                                                            <p class="bg-gray-200 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">Total</p>
                                                            <p class="bg-slate-100 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">Executed</p>
                                                            <p class="bg-gray-200 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">Passed</p>
                                                            <p class="bg-slate-100 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">Failed</p>
                                                            <p class="bg-gray-200 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">Inconclusive</p>
                                                            <p class="bg-slate-100 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">Error</p>
                                                            <p class="bg-gray-200 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">Warning</p>
                                                            <p class="bg-slate-100 text-gray-900 h-12 text-left px-4 flex items-center justify-start -mt-px">Timeout</p>
                                                        </div>
                                                        <div class="lg:w-3/4 w-full mb-10 lg:mb-0">
                                                            <p class="bg-gray-100 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@testRun.ResultSummary.Counters.Total</p>
                                                            <p class="bg-slate-50 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@testRun.ResultSummary.Counters.Executed</p>
                                                            <p class="bg-gray-100 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@testRun.ResultSummary.Counters.Passed</p>
                                                            <p class="bg-slate-50 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@testRun.ResultSummary.Counters.Failed</p>
                                                            <p class="bg-gray-100 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@testRun.ResultSummary.Counters.Inconclusive</p>
                                                            <p class="bg-slate-50 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@testRun.ResultSummary.Counters.Error</p>
                                                            <p class="bg-gray-100 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@testRun.ResultSummary.Counters.Warning</p>
                                                            <p class="bg-slate-50 text-gray-600 h-12 text-left px-4 flex items-center justify-start -mt-px text-sm">@testRun.ResultSummary.Counters.Timeout</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="text-gray-700 body-font border-t border-gray-200">
                            <div class="container px-5 py-4 mx-auto">
                                <main class="flex overflow-hidden">
                                    <div class="w-full mx-auto px-4 md:px-6 py-8">
                                        <div x-data="{ activeTab: 1, testClassActiveTab: 0 }" x-init="$watch('testClassActiveTab', value => console.log(value))">
                                            <div class="flex justify-center">
                                                <div role="tablist" class="max-[480px]:max-w-[180px] inline-flex flex-wrap justify-center bg-slate-200 rounded-[20px] p-1 mb-8 min-[480px]:mb-12"
                                                     @@keydown.right.prevent.stop="$focus.wrap().next()"
                                                     @@keydown.left.prevent.stop="$focus.wrap().prev()"
                                                     @@keydown.home.prevent.stop="$focus.first()"
                                                     @@keydown.end.prevent.stop="$focus.last()">
                                                    <button id="tab-1" class="flex-1 text-sm font-medium h-8 px-4 rounded-2xl whitespace-nowrap focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150 ease-in-out"
                                                            x-bind:class="activeTab === 1 ? 'bg-white text-slate-900' : 'text-slate-600 hover:text-slate-900'"
                                                            x-bind:tabindex="activeTab === 1 ? 0 : -1"
                                                            x-bind:aria-selected="activeTab === 1"
                                                            aria-controls="tabpanel-1"
                                                            @@click="activeTab = 1"
                                                            @@focus="activeTab = 1">
                                                        All Tests
                                                    </button>
                                                    <button id="tab-2" class="flex-1 text-sm font-medium h-8 px-4 rounded-2xl whitespace-nowrap focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150 ease-in-out"
                                                            x-bind:class="activeTab === 2 ? 'bg-white text-slate-900' : 'text-slate-600 hover:text-slate-900'"
                                                            x-bind:tabindex="activeTab === 2 ? 0 : -1"
                                                            x-bind:aria-selected="activeTab === 2"
                                                            aria-controls="tabpanel-2"
                                                            @@click="activeTab = 2"
                                                            @@focus="activeTab = 2">
                                                        All Tests Group By Classes
                                                    </button>
                                                    <button id="tab-3" class="flex-1 text-sm font-medium h-8 px-4 rounded-2xl whitespace-nowrap focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150 ease-in-out"
                                                            x-bind:class="activeTab === 3 ? 'bg-white text-slate-900' : 'text-slate-600 hover:text-slate-900'"
                                                            x-bind:tabindex="activeTab === 3 ? 0 : -1"
                                                            x-bind:aria-selected="activeTab === 3"
                                                            aria-controls="tabpanel-3"
                                                            @@click="activeTab = 3"
                                                            @@focus="activeTab = 3">
                                                        Slowest Top 10 tests
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="mx-auto min-h-screen">
                                                <div class="relative flex flex-col">
                                                    <div id="tabpanel-1"
                                                         class="w-full bg-white rounded-2xl shadow-xl min-[480px]:flex items-stretch focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300"
                                                         role="tabpanel"
                                                         tabindex="0"
                                                         aria-labelledby="tab-1"
                                                         x-show="activeTab === 1"
                                                         x-transition:enter="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 transform order-first"
                                                         x-transition:enter-start="opacity-0 -translate-y-8"
                                                         x-transition:enter-end="opacity-100 translate-y-0"
                                                         x-transition:leave="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-300 transform absolute"
                                                         x-transition:leave-start="opacity-100 translate-y-0"
                                                         x-transition:leave-end="opacity-0 translate-y-12">
                                                        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden bg-gray-900 p-1">
                                                            <table class="w-full text-sm text-gray-400 leading-normal table-fixed">
                                                                <thead class="w-full bg-gray-800 text-xs uppercase font-medium">
                                                                    <tr>
                                                                        <th class="w-20 px-6 py-4 text-left tracking-wider"></th>
                                                                        <th class="w-48 px-6 py-4 text-left tracking-wider">Time</th>
                                                                        <th class="w-32 px-6 py-4 text-left tracking-wider">Status</th>
                                                                        <th class="w-72 px-6 py-4 text-left tracking-wider">Test</th>
                                                                        <th class="px-6 py-4 text-left tracking-wider">Message</th>
                                                                        <th class="w-56 px-6 py-4 text-left tracking-wider">Duration</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody x-data="btnClick" x-id="['table']">
                                                                    @foreach (var unitTestResult in @testRun.Results.UnitTestResult)
                                                                    {
                                                                        <tr :id="$id('table-tr-1')">
                                                                            <td class="pl-4 border-b border-gray-200 bg-white text-sm">
                                                                                @if (unitTestResult.Output != null && unitTestResult.Output.ErrorInfo != null)
                                                                                {
                                                                                    <a id="@unitTestResult.TestId"
                                                                                       class="cursor-pointer inline-block text-gray-500 hover:text-gray-700"
                                                                                       x-bind="triggerBtn">
                                                                                        <img class="inline-block h-4 w-4 fill-current flex-no-shrink" src="./../Contents/img/arrow.png" alt="Alternate Text" />
                                                                                    </a>
                                                                                }
                                                                            </td>
                                                                            <td class="px-5 border-b border-gray-200 bg-white text-sm">
                                                                                <p class="text-gray-900 whitespace-no-wrap">@GetShortDateTime(@unitTestResult.StartTime.ToString()).ToString()</p>
                                                                            </td>
                                                                            <td class="px-5 border-b border-gray-200 bg-white text-sm">
                                                                                @if (unitTestResult.Outcome == Outcome.Failed)
                                                                                {
                                                                                    badgeColor = "bg-red-100 text-red-800";
                                                                                    badgeDot = "bg-red-800";
                                                                                }
                                                 
                                                                                @if (unitTestResult.Outcome == Outcome.Passed)
                                                                                {
                                                                                    badgeColor = "bg-green-100 text-green-800";
                                                                                    badgeDot = "bg-green-800";
                                                                                }
                                                  
                                                                                @if (unitTestResult.Outcome == Outcome.Warn)
                                                                                {
                                                                                    badgeColor = "bg-yellow-100 text-yellow-800";
                                                                                    badgeDot = "bg-yellow-800";
                                                                                }

                                                                                <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium @badgeColor">
                                                                                    <span class="size-1.5 inline-block rounded-full @badgeDot"></span>
                                                                                    @unitTestResult.Outcome
                                                                                </span>
                                                                            </td>
                                                                            <td class="px-5 border-b border-gray-200 bg-white text-sm">
                                                                                <p class="text-gray-900 whitespace-no-wrap">@unitTestResult.TestName</p>
                                                                            </td>
                                                                            <td class="px-5 border-b border-gray-200 bg-white text-sm">
                                                                                @if (unitTestResult.Output != null && unitTestResult.Output.ErrorInfo != null)
                                                                                {
                                                                                    <p class="text-gray-900 whitespace-no-wrap">@unitTestResult.Output.ErrorInfo.Message</p>
                                                                                }
                                                                            </td>
                                                                            <td class="px-5 border-b border-gray-200 bg-white text-sm">
                                                                                <div class="bottom flex-grow h-30 py-1">
                                                                                    <div class="bg-purple-400 text-white rounded p-1 text-sm mb-1 whitespace-no-wrap">
                                                                                        <div class="inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                                                                            <span class="px-2">
                                                                                                Ms
                                                                                            </span>
                                                                                            <span class="time pr-2">
                                                                                                @ToExactTimeDuration(@unitTestResult.Duration.TimeOfDay.ToString()).InMilliSeconds
                                                                                            </span>
                                                                                            <svg class="w-4 h-4 text-white-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                                                                <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd" />
                                                                                            </svg>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr :id="$id('table-tr-2')"
                                                                            class="hidden"
                                                                            x-cloak>
                                                                            @* x-transition:enter="transition ease-out duration-300"
                                                                            x-transition:enter-start="opacity-0 scale-90"
                                                                            x-transition:enter-end="opacity-100 scale-100"
                                                                            x-transition:leave="transition ease-in duration-300"
                                                                            x-transition:leave-start="opacity-100 scale-100"
                                                                            x-transition:leave-end="opacity-0 scale-90" *@
                                                                            <td colspan="6">
                                                                                <div class="bg-white">
                                                                                    <ul class="stacktrace-detail-content">
                                                                                        <li>
                                                                                            <div class="stacktrace-detail"></div>
                                                                                            <div class="stacktrace-detail-main">
                                                                                                <fieldset class="stacktrace-detail-main-fieldset">
                                                                                                    <legend class="stacktrace-detail-main-legend">
                                                                                                        <span class="label label-primary">Stacktrace</span>
                                                                                                    </legend>
                                                                                                    <div class="ml-1.5 mr-3">
                                                                                                        @if (unitTestResult.Output != null && unitTestResult.Output.ErrorInfo != null)
                                                                                                        {
                                                                                                            <p class="text-gray-900 whitespace-no-wrap">@unitTestResult.Output.ErrorInfo.StackTrace</p>
                                                                                                        }
                                                                                                    </div>
                                                                                                </fieldset>
                                                                                            </div>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div id="tabpanel-2"
                                                         class="w-full bg-white rounded-2xl shadow-xl min-[480px]:flex items-stretch focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300"
                                                         role="tabpanel"
                                                         tabindex="0"
                                                         aria-labelledby="tab-2"
                                                         x-show="activeTab === 2"
                                                         x-transition:enter="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 transform order-first"
                                                         x-transition:enter-start="opacity-0 -translate-y-8"
                                                         x-transition:enter-end="opacity-100 translate-y-0"
                                                         x-transition:leave="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-300 transform absolute"
                                                         x-transition:leave-start="opacity-100 translate-y-0"
                                                         x-transition:leave-end="opacity-0 translate-y-12">
                                                        <div class="flex inline-block min-w-full shadow rounded-lg overflow-hidden bg-gray-900 p-1">
                                                            <aside class="flex flex-col w-64 px-5 py-8 overflow-y-auto bg-gray-800 border-r rtl:border-r-0 rtl:border-l">
                                                                <div class="flex flex-col justify-between flex-1">
                                                                    <nav class="-mr-3 -ml-[1.2rem] space-y-6">
                                                                        @foreach (var groupedByClass in @groupedByClasses.Select((Value, index) => (Value, index)))
                                                                        {
                                                                            var className = @groupedByClass.Value.Select(c => c.TestMethod.ClassName.Split(',')[0]).FirstOrDefault();
                                                                            var testClass = @className?.Split('.').Last();

                                                                            <div class="space-y-3 cursor-pointer" x-init="$watch('testClassActiveTab === @groupedByClass.index', value => console.log(value))">
                                                                                <a id="#@testClass"
                                                                                   class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform hover:bg-[#1d222c] hover:text-gray-500"
                                                                                   x-bind:class="testClassActiveTab === @groupedByClass.index ? 'border-l-4 border-slate-400 text-slate-900' : 'border-l-4 border-opacity-0 border-white text-slate-600'"
                                                                                   x-bind:tabindex="testClassActiveTab === @groupedByClass.index ? 0 : -1"
                                                                                   x-bind:aria-selected="testClassActiveTab === @groupedByClass.index"
                                                                                   aria-controls="tabpanel-@groupedByClass.index"
                                                                                   @@click="testClassActiveTab = @groupedByClass.index"
                                                                                   @@focus="testClassActiveTab = @groupedByClass.index">
                                                                                    <svg class="w-5 h-5 fill-gray-300" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" xml:space="preserve">
                                                                                        <path style="fill:none" d="M0 .008h48v48H0z" />
                                                                                        <path d="M39.114 34.332C37.38 31.449 32.326 23.487 31 21.402V10h1a2 2 0 0 0 0-4H16a2 2 0 0 0 0 4h1v11.402c-1.326 2.085-6.38 10.047-8.114 12.93-.512.852-.772 1.749-.772 2.668 0 2.757 2.243 5 4.999 5h21.773c2.757 0 5-2.243 5-5 0-.919-.26-1.816-.772-2.668M20.688 23.059c.204-.322.312-.694.312-1.075V10.003h6v11.981a2 2 0 0 0 .312 1.074c.031.049 1.55 2.435 3.325 5.244l-15.434 3.43c2.495-3.976 5.441-8.605 5.485-8.673" />
                                                                                    </svg>
                                                                                    <label class="px-3 text-xs text-gray-300 uppercase cursor-pointer">@testClass</label>
                                                                                </a>
                                                                            </div>
                                                                        }
                                                                    </nav>
                                                                </div>
                                                            </aside>
                                                            <main class="flex-1 px-5 py-8 bg-[#F1F2F4] sm:p-10">
                                                                @foreach (var groupedByClass in @groupedByClasses.Select((Value, Index) => (Value, Index)))
                                                                {
                                                                    var className = @groupedByClass.Value.Select(c => c.TestMethod.ClassName.Split(',')[0]).FirstOrDefault();
                                                                    var testClass = @className?.Split('.').Last();

                                                                    <section id="@testClass"
                                                                             role="tabpanel"
                                                                             class="grid md:grid-cols-2 xl:grid-cols-4 gap-8"
                                                                             aria-labelledby="testClassActiveTab-@groupedByClass.Index"
                                                                             x-show="testClassActiveTab === @groupedByClass.Index">
                                                                        <div class="flex items-center p-8 bg-white shadow rounded-lg">
                                                                            <div class="inline-flex flex-shrink-0 items-center justify-center h-14 w-14 text-blue-600 bg-blue-100 rounded-full mr-4">
                                                                                <svg class="h-6 w-6 fill-gray-500" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
                                                                                    <path d="M16 16h-5.59l3.3-3.29a1 1 0 0 0 0-1.42L10.41 8H16a1 1 0 0 0 0-2H8a1 1 0 0 0-.92.62 1 1 0 0 0 .21 1.09l4.3 4.29-4.3 4.29a1 1 0 0 0-.21 1.09A1 1 0 0 0 8 18h8a1 1 0 0 0 0-2" />
                                                                                </svg>
                                                                            </div>
                                                                            <div>
                                                                                <span class="block text-xl font-bold">@groupedByClass.Value.Count()</span>
                                                                                <span class="block text-gray-500 text-xs">Total Test Cases</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="flex items-center p-8 bg-white shadow rounded-lg">
                                                                            <div class="inline-flex flex-shrink-0 items-center justify-center h-14 w-14 text-green-600 bg-green-100 rounded-full mr-4">
                                                                                <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path d="m4.892 13.269 4.274 4.274L18.709 8" stroke="#16a34a" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                                                                                </svg>
                                                                            </div>
                                                                            <div>
                                                                                <span class="block text-xl font-bold">@groupedByClass.Value.Where(p => p.Outcome == Outcome.Passed).Count()</span>
                                                                                <span class="block text-gray-500 text-xs">Passed Test Cases</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="flex items-center p-8 bg-white shadow rounded-lg">
                                                                            <div class="inline-flex flex-shrink-0 items-center justify-center h-14 w-14 text-red-600 bg-red-100 rounded-full mr-4">
                                                                                <svg class="h-6 w-6 fill-red-500" viewBox="-3.5 0 19 19" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path d="M11.383 13.644A1.03 1.03 0 0 1 9.928 15.1L6 11.172 2.072 15.1a1.03 1.03 0 1 1-1.455-1.456l3.928-3.928L.617 5.79a1.03 1.03 0 1 1 1.455-1.456L6 8.261l3.928-3.928a1.03 1.03 0 0 1 1.455 1.456L7.455 9.716z" />
                                                                                </svg>
                                                                            </div>
                                                                            <div>
                                                                                <span class="inline-block text-xl font-bold">@groupedByClass.Value.Where(p => p.Outcome == Outcome.Failed).Count()</span>
                                                                                <span class="block text-gray-500 text-xs">Failed Test Cases</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="flex items-center p-8 bg-white shadow rounded-lg">
                                                                            <div class="inline-flex flex-shrink-0 items-center justify-center h-14 w-14 text-yellow-600 bg-yellow-100 rounded-full mr-4">
                                                                                <svg class="h-6 w-6 fill-yellow-500" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path d="M12 14a1 1 0 0 1-1-1v-3a1 1 0 1 1 2 0v3a1 1 0 0 1-1 1m-1.5 2.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0" />
                                                                                    <path d="M10.23 3.216c.75-1.425 2.79-1.425 3.54 0l8.343 15.852C22.814 20.4 21.85 22 20.343 22H3.657c-1.505 0-2.47-1.6-1.77-2.931zM20.344 20 12 4.147 3.656 20z" />
                                                                                </svg>
                                                                            </div>
                                                                            <div>
                                                                                <span class="block text-xl font-bold">@groupedByClass.Value.Where(p => p.Outcome == Outcome.Warn).Count()</span>
                                                                                <span class="block text-gray-500 text-xs">Warning Test Cases</span>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    foreach (var item in @groupedByClass.Value)
                                                                    {
                                                                        <section class="mt-6 shadow rounded @(item.Outcome == Outcome.Passed ? "p-4 bg-green-50 text-green-800" : item.Outcome == Outcome.Failed ? "p-6 bg-red-50 text-red-800" : item.Outcome == Outcome.Warn ? "p-4 bg-yellow-50 text-yellow-800" : "bg-white")"
                                                                                    x-show="testClassActiveTab === @groupedByClass.Index">
                                                                            <div class="flex text-sm justify-between items-center">
                                                                                <div class="inline-block @(item.Outcome == Outcome.Passed ? "pl-7" : item.Outcome == Outcome.Failed ? "p-2 px-5 rounded bg-red-100" : item.Outcome == Outcome.Warn ? "pl-7" : "p-2 px-5 rounded bg-gray-200")">
                                                                                    @item.Name
                                                                                </div>
                                                                                <div class="flex items-center gap-2 text-surface/75">
                                                                                    <svg class="w-4 h-4 text-white-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd" />
                                                                                    </svg>
                                                                                    @ToExactTimeDuration(item.Duration.TimeOfDay.ToString()).InMilliSeconds
                                                                                </div>
                                                                            </div>
                                                                            @if (item.Outcome == Outcome.Failed)
                                                                            {
                                                                                <div class="border my-3 border-red-100"></div>
                                                                                <div class="mb-3 text-sm">@item.Output?.ErrorInfo?.Message</div>
                                                                                <div class="pl-5 text-xs border-l-4 border-red-500">@item.Output?.ErrorInfo?.StackTrace</div>
                                                                            }
                                                                        </section>
                                                                    }
                                                                }
                                                            </main>
                                                        </div>
                                                    </div>
                                                    <div id="tabpanel-3"
                                                         class="w-full bg-white rounded-2xl shadow-xl min-[480px]:flex items-stretch focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300"
                                                         role="tabpanel"
                                                         tabindex="0"
                                                         aria-labelledby="tab-3"
                                                         x-show="activeTab === 3"
                                                         x-transition:enter="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-700 transform order-first"
                                                         x-transition:enter-start="opacity-0 -translate-y-8"
                                                         x-transition:enter-end="opacity-100 translate-y-0"
                                                         x-transition:leave="transition ease-[cubic-bezier(0.68,-0.3,0.32,1)] duration-300 transform absolute"
                                                         x-transition:leave-start="opacity-100 translate-y-0"
                                                         x-transition:leave-end="opacity-0 translate-y-12">
                                                        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden bg-gray-900 p-1">
                                                            <table class="w-full text-sm text-gray-400 leading-normal table-fixed">
                                                                <thead class="w-full bg-gray-800 text-xs uppercase font-medium">
                                                                    <tr>
                                                                        <th class="w-20 px-6 py-4 text-left tracking-wider"></th>
                                                                        <th class="w-48 px-6 py-4 text-left tracking-wider">Time</th>
                                                                        <th class="w-32 px-6 py-4 text-left tracking-wider">Status</th>
                                                                        <th class="w-72 px-6 py-4 text-left tracking-wider">Test</th>
                                                                        <th class="px-6 py-4 text-left tracking-wider">Message</th>
                                                                        <th class="w-56 px-6 py-4 text-left tracking-wider">Duration</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody x-data="btnClick" x-id="['table']">
                                                                    @{
                                                                        var slowestTests = @testRun.Results.UnitTestResult.OrderByDescending(o => o.Duration).ToArray();
                                                                        var totalCount = slowestTests.Count();
                                                                        var takeTopTen = totalCount > 10 ? 10 : totalCount;

                                                                        foreach (var slowestTest in @slowestTests.Take(takeTopTen))
                                                                        {
                                                                            <tr :id="$id('table-tr-1')" data-sal="@totalCount">
                                                                                <td class="pl-4 border-b border-gray-200 bg-white text-sm">
                                                                                    @if (slowestTest.Output != null && slowestTest.Output.ErrorInfo != null)
                                                                                    {
                                                                                        <a id="@slowestTest.TestId"
                                                                                           class="cursor-pointer inline-block text-gray-500 hover:text-gray-700"
                                                                                           x-bind="triggerBtn">
                                                                                            <img class="inline-block h-4 w-4 fill-current flex-no-shrink" src="./../Contents/img/arrow.png" alt="Alternate Text" />
                                                                                        </a>
                                                                                    }
                                                                                </td>
                                                                                <td class="px-5 border-b border-gray-200 bg-white text-sm">
                                                                                    <p class="text-gray-900 whitespace-no-wrap">@GetShortDateTime(@slowestTest.StartTime.ToString()).ToString()</p>
                                                                                </td>
                                                                                <td class="px-5 border-b border-gray-200 bg-white text-sm">
                                                                                    @if (slowestTest.Outcome == Outcome.Failed)
                                                                                    {
                                                                                        badgeColor = "bg-red-100 text-red-800";
                                                                                        badgeDot = "bg-red-800";
                                                                                    }

                                                                                    @if (slowestTest.Outcome == Outcome.Passed)
                                                                                    {
                                                                                        badgeColor = "bg-green-100 text-green-800";
                                                                                        badgeDot = "bg-green-800";
                                                                                    }

                                                                                    @if (slowestTest.Outcome == Outcome.Warn)
                                                                                    {
                                                                                        badgeColor = "bg-yellow-100 text-yellow-800";
                                                                                        badgeDot = "bg-yellow-800";
                                                                                    }

                                                                                    <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium @badgeColor">
                                                                                        <span class="size-1.5 inline-block rounded-full @badgeDot"></span>
                                                                                        @slowestTest.Outcome
                                                                                    </span>
                                                                                </td>
                                                                                <td class="px-5 border-b border-gray-200 bg-white text-sm">
                                                                                    <p class="text-gray-900 whitespace-no-wrap">@slowestTest.TestName</p>
                                                                                </td>
                                                                                <td class="px-5 border-b border-gray-200 bg-white text-sm">
                                                                                    @if (slowestTest.Output != null && slowestTest.Output.ErrorInfo != null)
                                                                                    {
                                                                                        <p class="text-gray-900 whitespace-no-wrap">@slowestTest.Output.ErrorInfo.Message</p>
                                                                                    }
                                                                                </td>
                                                                                <td class="px-5 border-b border-gray-200 bg-white text-sm">
                                                                                    <div class="bottom flex-grow h-30 py-1">
                                                                                        <div class="bg-purple-400 text-white rounded p-1 text-sm mb-1 whitespace-no-wrap">
                                                                                            <div class="inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                                                                                <span class="px-2">
                                                                                                    Ms
                                                                                                </span>
                                                                                                <span class="time pr-2">
                                                                                                    @ToExactTimeDuration(@slowestTest.Duration.TimeOfDay.ToString()).InMilliSeconds
                                                                                                </span>
                                                                                                <svg class="w-4 h-4 text-white-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                                                                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd" />
                                                                                                </svg>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr :id="$id('table-tr-2')"
                                                                                class="hidden"
                                                                                x-cloak
                                                                                x-transition:enter.duration.500ms
                                                                                x-transition:leave.duration.400ms
                                                                                x-transition:enter.scale.80
                                                                                x-transition:leave.scale.90>
                                                                                <td colspan="6">
                                                                                    <div class="bg-white">
                                                                                        <ul class="stacktrace-detail-content">
                                                                                            <li>
                                                                                                <div class="stacktrace-detail"></div>
                                                                                                <div class="stacktrace-detail-main">
                                                                                                    <fieldset class="stacktrace-detail-main-fieldset">
                                                                                                        <legend class="stacktrace-detail-main-legend">
                                                                                                            <span class="label label-primary">Stacktrace</span>
                                                                                                        </legend>
                                                                                                        <div class="ml-1.5 mr-3">
                                                                                                            @if (slowestTest.Output != null && slowestTest.Output.ErrorInfo != null)
                                                                                                            {
                                                                                                                <p class="text-gray-900 whitespace-no-wrap">@slowestTest.Output.ErrorInfo.StackTrace</p>
                                                                                                            }
                                                                                                        </div>
                                                                                                    </fieldset>
                                                                                                </div>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </main>
                            </div>
                        </section>
                    }
                </main>
                @* <footer class="flex items-center justify-between flex-shrink-0 p-4 border-t max-h-14">
                    <div>Company-Name &copy; 2024</div>
                    <div class="text-sm">
                        Made by
                        <a class="text-blue-400 underline"
                           href="github link"
                           target="_blank"
                           rel="noopener noreferrer">Shailesh M</a>
                    </div>
                    <div>
                        <a href="https://github.com/Kamona-WD/starter-dashboard-layout"
                           target="_blank"
                           class="flex items-center space-x-1">
                            <svg class="w-6 h-6 text-gray-400" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                            </svg>
                            <span class="hidden text-sm md:block">View on Github</span>
                        </a>
                    </div>
                </footer> *@
            </div>
        </div>
        <footer class="text-gray-700 body-font">
            <div class="bg-gray-200">
                <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                    <p class="text-gray-500 text-sm text-center sm:text-left">
                        Copyright  2024 "Company Name". All Rights Reserved
                    </p>
                    <span class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-gray-500 text-sm">Enamel pin tousled raclette tacos irony</span>
                </div>
            </div>
        </footer>
        <a href="https://github.com/shailesh1984/TtrxToHtml" class="rounded-full w-12 h-12 bg-gray-100 fixed bottom-0 right-0 flex items-center justify-center text-gray-800 mr-8 mb-8 shadow-sm border-gray-300 border" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
            </svg>
        </a>
    </div>
</body>
</html>
