@model TtrxToHtml.PageTemplateEngine.Models.JsonData;

@{
    string GetClassName()
    {
        return "Json Data";
    }
}

<header>
    <h1>Test Results</h1>
    @* <img src="https://matluspub.blob.core.windows.net/public/IoTHeader.jpg" /> *@
</header>
<div class="container">
    <main role="main" class="pb-3">
        <div class="divTable">
            <div class="divTableBody @GetClassName()">
                <h2>Test Results</h2>
                @* @foreach (var vm in Model.VirtualMachines)
                {

                    <div class="divTableRow">
                        <div class="divTableCell">@vm.Name</div>
                        <div class="divTableCell @GetCpuClassName(vm.Cpu)">@vm.Cpu %</div>
                        <div class="divTableCell @GetMemoryClassName(vm.Memory)">@vm.Memory GB</div>
                    </div>
                } *@
            </div>
        </div>
    </main>
</div>
<footer>
    <h4>footer</h4>
</footer>


